.blurb {
  width: 512px;
  text-align: left;
}

.poster-container {
/*  width: 100%;*/
  min-height: 400px;
  height: 80vh;
  padding: 16px;
  display: flex;
  justify-content: center;
}

.poster-container img {
/*  max-height: 100%;*/
  height: 100%;
}

.landscape-container {
  width: 100%;
}

.landscape-container img {
  width: 100%;
}

section .col-3-single {
  display: flex;
  align-items: flex-end;
  color: #888888;
}

.row p:hover {
  color: #000000;
}

#boonchi {
  width: 100%;
  text-align: center;
  padding: 0;
  color: #888888;
}

#boonchi > p:hover {
  color: #000000;
}