#lookas-img-container {
  width: 720px;
  margin: 0 auto;
  position: relative;
}

#lookas-img-container:hover {
  box-shadow: 0 0 10px #ff0;
}

#lookas-img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

#section_Distance #distance-img-captions {
  padding: 0 16px;
}

#distance-img-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  padding: 0 16px;
  box-sizing: border-box;
}

#distance-img {
  background: url(../img/lookas/distance/distance_2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 240px;
}

#distance-img-container:hover #distance-img {
  background: url(../img/lookas/distance/distance_3.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.caption {
  flex: 1 0;
  padding-top: 0;
}

.caption.distance {
  text-align: center;
}

.feature-wrapper {
  width: 720px;
  margin: 0 auto;
}
