html {
  background: #eeeeee;
  background-position: top let;
  padding: 16px 0;
}

#bg-gradient {
  position: fixed;
  top: 0;
  left: -0%;
  z-index: -1;
  width: 100%;
  min-height: 100%;
}

@font-face {
    font-family: AuthenticSans;
    src: url(../fonts/AUTHENTIC-Sans.woff);
}

@font-face {
  font-family: ManifontGrotesk;
  src: url(../fonts/manifontgroteskbolditalic-webfont.woff);
  font-weight: 600;
  font-style: italic;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 10px #ff0;
/*  color: #888;*/
}

.gray {
  color: #fff;
}

span.expandable-term {
  background: #ffffff;
  white-space: nowrap;
  position: relative;
  padding: 0 1px;
  margin: 0 -1px;
}

span.expandable-term:hover, span.expandable-term:active {
  color: #00f;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

span.expanded-term {
  display: none;
  position: absolute;
  top: -16px;
  left: 0px;
  min-width: 100%;
  text-align: center;
  background: #eeeeee;
  padding: 0 1px;
/*  font-size: 64px;*/
}

span.expandable-term:hover span.expanded-term {
  display: block;
}

h1 {
  margin: 0;
  font-family: 'ManifontGrotesk', sans-serif;
  font-weight: 600;
  font-style: italic;
  -webkit-text-fill-color: #eeeeee;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

p {
  margin-top: 16px;
}




#loading-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  pointer-events: none;
}

#loading-marker {
  width: 100%;
  max-width: 512px;
  position: relative;
}

#loading-marker img {
  width: 100%;
  transform-origin: center center;
  animation: ROTATE45 4s infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 50%;
  margin-top: -50%;
  left: 50%;
  margin-left: -50%;
}

#loading-marker #circle-wipe {
  margin: 0 auto;
  background: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0vw;
  margin-left: 0vw;
  width: 0vw;
  height: 0vw;
  border-radius: 100vw;
  
  box-shadow: 0 0 24 48 #eeeeee;
  
  transition: margin-top 0.1s ease-in, margin-left 0.1s ease-in, width 0.1s ease-in, height 0.1s ease-in;
}

#loading-marker #circle-wipe.done {
  width: 512px;
  height: 512px;
  margin-left: -256px;
  margin-top: -256px;
}

@keyframes ROTATE45 {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




body {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  font-family: 'AuthenticSans', 'Helvetica', sans-serif;
  font-size: 12px;
  line-height: 1.4;
/*  line-height: 16px;*/
}

#main {
  opacity: 1;
  transition: opacity 0.2s linear;
}

#main.disappear {
  opacity: 0;
}

#masthead {
  position: relative;
}

#email:hover {
  text-shadow: 0 0 10px #ff0;
}

#info {
  display: flex;
  justify-content: space-between;
}

#links {
  margin-top: -16px;
}

.col {
  width: 288px;
  padding: 0 16px;
}

#controls {
  margin-top: 80px;
  
  display: flex;
  justify-content: space-between;
  
  font-family: 'ManifontGrotesk', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

#controls > div {
  display: flex;
  width: 288px;
  padding: 0 16px;
}

#controls > div > div {
  margin-right: 16px;
  cursor: pointer;
}

#category-control > div {
  color: transparent;
/*  -webkit-text-fill-color: #e0e0e0; */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
/*   text-shadow: -0.5px -0.5px 0 #000,   0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;*/
}

#category-control > div:hover {
  -webkit-text-fill-color: #888;
}

#category-control > div.selected:hover {
  -webkit-text-fill-color: #888;
}

#category-control > div.selected:active {
  -webkit-text-fill-color: none;
  -webkit-text-stroke-color: #ffffff;
}

#category-control > div.selected {
  -webkit-text-fill-color: #aaaaaa;
  -webkit-text-stroke-width: 0;
}

#category-control > div:active {
  text-shadow: 0 0 10px #000000;
  color: none;
  -webkit-text-fill-color: none;
  -webkit-text-stroke-color: #ffffff;
}

#size-control > div:hover {
  text-decoration: underline;
  text-decoration-color: #888;
}





section {
  padding: 0 16px;
}

#section_work {
  margin-top: 64px;
}

#work {
  width: 100%;
  margin-top: 16px;
  display: flex;
  justify-content:flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.item {
  margin-bottom: 64px;
  margin-right: 64px;
}

.item.clickable:hover, .item.clickable:active {
  text-shadow: 0 0 10px #ff0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

/*
.item > img {
  height: 128px;
}
*/

.item > div > img {
  height: 160px;
}

.item > .description {
  padding-top: 16px;
  clear:left;
}

.img {
  height: 160px;
  float: left;
/*  box-shadow:inset 0px 0px 0px 1px #000;*/
}

.clickable {
  cursor: pointer;
}

#kiss_hover {
  background-image: url(../img/site/kissOptimized.gif);
  background-position: center center;
  background-size: 400px 400px;
  position: fixed;
  right: 32px;
  top: 32px;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 32px;
  cursor: move;
  z-index: 100;
}

.no-touch #kiss_hover:hover {
  background: #eeeeee;
}


#bg-gradient.flood {
  background-image: url(../img/site/kissOptimized.gif);
  background-position: center center;
  background-size: 400px 400px;
}



#section_colophon {
  margin-top: 64px;
}

#colophon {
  color: #888;
}

#colophon a {
  color: #888;
}

