@font-face {
  font-family: "Authentic Sans";
  font-weight: 100;
  src: url("fonts/AUTHENTICSans-60.woff") format("woff"), url("fonts/AUTHENTICSans-60.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: #f0f0f0;
  background: whitesmoke;
  font-size: 24px;
  font-family: "Authentic Sans";
  font-weight: 100;
  line-height: 1.5;
  overflow-x: hidden;
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 18px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted;
}
a:hover {
  border-bottom: 1px solid;
}

h1, h2, h3 {
  font-weight: inherit;
  font-size: inherit;
}

.time {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1em;
  font-size: 8px;
}

.my-big-window {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  width: 50vmin;
  height: 50vmin;
  max-width: calc(100vmin - 2em);
  max-height: calc(100vmin - 2em);
  border: 1px solid;
}
@media only screen and (max-width: 480px) {
  .my-big-window {
    top: 2em;
    width: 75vw;
    height: 75vw;
    max-width: calc(100vmin - 2em);
    max-height: calc(100vmin - 2em);
  }
}
.my-big-window::before, .my-big-window::after {
  content: "";
  position: absolute;
  background: black;
}
.my-big-window::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
}
.my-big-window::after {
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
}
.my-big-window > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  border: none;
}
.my-big-window .cursor-detection-zone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  padding: 20px;
  margin: -20px;
}
.my-big-window:hover ~ .my-big-window.shadow .pointer-shadow {
  background: url(pointer.png);
  opacity: 1;
}
.my-big-window .img-wrapper {
  width: 100%;
  height: calc(100% + 1px);
  overflow: hidden;
}
.my-big-window .img-wrapper img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.my-big-window.shadow {
  transform-origin: 100% 50vh;
  transform: translateY(60%) scaleY(0.33) rotateX(180deg) skew(20deg);
  overflow: hidden;
  filter: blur(6px);
}
.my-big-window.shadow .pointer-shadow {
  position: absolute;
  opacity: 0;
  margin-top: -2px;
  margin-left: -7px;
}
.my-big-window.shadow .quadrant a:hover {
  background: lightbeige;
}

nav.my-big-window {
  display: flex;
  flex-wrap: wrap;
  border-bottom: none;
  border-right: none;
}
nav.my-big-window::before, nav.my-big-window::after {
  content: none;
}
nav.my-big-window .quadrant {
  width: 50%;
  height: 50%;
  border-bottom: 1px solid;
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
}
nav.my-big-window .quadrant a, nav.my-big-window .quadrant .current {
  width: 100%;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  color: inherit;
  text-decoration: none;
}
nav.my-big-window .quadrant a:last-child, nav.my-big-window .quadrant .current:last-child {
  border-bottom: none;
}
nav.my-big-window .quadrant a.hover, nav.my-big-window .quadrant a:hover {
  background: beige;
}
nav.my-big-window .labels {
  position: absolute;
  bottom: 100%;
  width: 100%;
  font-size: 8px;
  height: 1.5em;
  display: flex;
  opacity: 0;
  transition: opacity 1s linear;
}
nav.my-big-window .labels.row {
  right: 100%;
  transform-origin: 100% 100%;
  transform: rotate(-90deg);
}
nav.my-big-window .labels.column {
  left: 0;
}
nav.my-big-window .labels span {
  width: 50%;
  text-align: center;
  font-style: italic;
}
nav.my-big-window:hover .labels {
  opacity: 0;
}

main {
  position: relative;
  margin: 70vh 0 0;
  z-index: 100;
  pointer-events: none;
}
main::before, main::after {
  content: "";
  display: block;
  width: 100%;
  height: 30vh;
}
main.hidden {
  opacity: 0;
}
main.visible {
  opacity: 1;
  transition: opacity 1s;
}
main .content-wrapper {
  padding: 1em;
  pointer-events: auto;
  min-height: 70vh;
}
main .content-wrapper .content {
  max-width: 24em;
  margin: 0 auto;
}
main .content-wrapper p a {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: inherit;
  cursor: pointer;
}
main .content-wrapper p a:hover {
  border-bottom: 1px solid;
}
main .content-wrapper p.footnote {
  font-size: 0.66em;
}
main .content-wrapper hr {
  border: none;
  border-bottom: 1px dotted black;
}
main .content-wrapper .keychain {
  margin: 0 0 1em;
  padding: 1.25em 1.5em;
  border: 1px dotted black;
  border-radius: 1em;
  display: inline-block;
  background: #f0f0f0;
}
main .content-wrapper figure {
  margin: 0;
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}
main .content-wrapper figure img {
  display: block;
  max-width: 100%;
}
main .content-wrapper figure a {
  display: block;
}
main .content-wrapper figure a:hover {
  outline: 1em solid #F6BF9C;
}
main .content-wrapper figure figcaption {
  position: relative;
  margin-top: 0.5em;
  font-size: 0.6666em;
  z-index: 10;
}

main.info::before {
  background: linear-gradient(to bottom, rgba(251, 255, 151, 0), #fbff97);
}
main.info::after {
  background: linear-gradient(to top, rgba(251, 255, 151, 0), #fbff97);
}
main.info .content-wrapper {
  background: #fbff97;
}

main.examples-main::before {
  background: linear-gradient(to bottom, rgba(255, 217, 227, 0), #ffd9e3);
}
main.examples-main::after {
  background: linear-gradient(to top, rgba(255, 217, 227, 0), #ffd9e3);
}
main.examples-main .summary {
  width: 100%;
  margin-top: 2em;
  padding: 0 0.5em;
}
main.examples-main .summary h2 {
  margin: 0;
}
main.examples-main .examples-table {
  padding: 0.5em;
  pointer-events: auto;
  background: #ffd9e3;
}
main.examples-main .examples-table table {
  width: 100%;
  padding: 0.5em;
}
main.examples-main .examples-table table tr {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 1em 0;
  font-size: 0.75em;
}
main.examples-main .examples-table table tr:last-child {
  border-bottom: 1px solid black;
}
main.examples-main .examples-table table tr td.title {
  flex-basis: 50%;
  flex-shrink: 0;
  padding-right: 1em;
}
main.examples-main .examples-table table tr td.place {
  flex-basis: 50%;
  flex-shrink: 1;
  font-size: 0.66em;
}
main.examples-main .examples-table table tr td.year {
  text-align: right;
  flex-basis: 12em;
  font-size: 0.66em;
}
@media only screen and (max-width: 600px) {
  main.examples-main .examples-table table tr {
    flex-wrap: wrap;
  }
  main.examples-main .examples-table table tr td.title {
    flex-basis: 100%;
    margin-bottom: 1em;
  }
  main.examples-main .examples-table table tr td.place {
    flex-basis: 67%;
    flex-shrink: 1;
    font-size: 0.66em;
  }
  main.examples-main .examples-table table tr td.year {
    flex-basis: 33%;
    font-size: 0.66em;
    align-self: flex-end;
  }
}
main.examples-main .examples {
  min-height: 70vh;
  padding: 2em 0.5em;
  pointer-events: auto;
  background: #ffd9e3;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
main.examples-main .examples .block {
  margin: 0.5em;
  overflow: hidden;
}
main.examples-main .examples .block.split {
  display: none;
}
main.examples-main .examples .block.image {
  height: 120px;
}
main.examples-main .examples .block.image img {
  height: 100%;
}
main.examples-main .examples .block.image a {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  vertical-align: top;
  line-height: 25px;
  display: block;
  border: 1px dotted black;
}
main.examples-main .examples .block.image a:hover {
  border: 1px solid black;
}
main.examples-main .examples .block.non-image {
  width: 120px;
  height: 120px;
  background: url(checker.svg);
  background-position: 0 0;
  cursor: zoom-in;
}
main.examples-main .examples .block.non-image span.context {
  font-size: 0.75em;
}
main.examples-main .examples .block.non-image:before {
  content: "";
  display: block;
  margin: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #ffd9e3;
  opacity: 1;
  transition: opacity 0.1s linear;
}
main.examples-main .examples .block.non-image.main .content {
  display: none;
  font-size: 0.75em;
}
main.examples-main .examples.open .block.non-image {
  display: initial;
  cursor: text;
}
main.examples-main .examples.open .block.non-image.left-end, main.examples-main .examples.open .block.non-image.right-end {
  cursor: zoom-out;
  padding: 0;
}
main.examples-main .examples.open .block.non-image.left-end:before, main.examples-main .examples.open .block.non-image.right-end:before {
  margin: 0;
  width: 100%;
  height: 100%;
}
main.examples-main .examples.open .block.non-image.main {
  width: calc(100% - 1em);
  height: auto;
  margin: 0.5em;
  padding: 1px;
}
main.examples-main .examples.open .block.non-image.main:before {
  display: none;
}
main.examples-main .examples.open .block.non-image.main .content {
  width: 100%;
  padding: 1em;
  display: block;
  background: #ffd9e3;
}
main.examples-main .examples.mouseover-on-voids .block.non-image:before {
  opacity: 0;
}

main.friends::before {
  background: linear-gradient(to bottom, rgba(61, 251, 178, 0), #3dfbb2);
}
main.friends::after {
  background: linear-gradient(to top, rgba(61, 251, 178, 0), #3dfbb2);
}
main.friends .content-wrapper {
  background: #3dfbb2;
}

div.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

body.night {
  background: #1a1b2e;
  border-color: white;
}

/*# sourceMappingURL=styles.css.map */
