.hide {
  visibility: hidden;
}


.divider {
  margin: 32px 0;
  text-align: center;
}





/* CONTENTS MENU */

#section_Contents {
  background: #ffffff;
}

#contents .contents_row {
  margin-bottom: 32px;
  cursor: s-resize;
  user-select: none;
}

#contents .contents_row .contents_number {
/*  -webkit-text-fill-color: #e0e0e0;*/
  font-family: ManifontGrotesk;
  font-size: 36px;
  line-height: 42px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffa0b0;
}

#contents .contents_row .contents_label-gray {
  color: #888;
}

#contents .contents_row a {
  width: 256px;
  color: inherit;
  cursor: s-resize;
}

#contents .contents_row > .contents_preview {
  background: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  width: 256px;
  height: 100%;
  font-size: 48px;
  text-align: center;
  vertical-align: middle;
  line-height: 256px;
}

#contents .contents_row > .contents_preview > img {
  width: 256px;
  height: auto;
}

#contents #contents_video-ads_preview {
  width: 128px;
  height: auto;
  margin: -8px auto 0;
}

#contents #contents_wrapping-up_preview {
  background: #fff;
  height: 256px;
}

#contents .contents_row:hover .contents_number {
  color: #ffa0b0
}

#contents .contents_row:hover .contents_preview {
  display: block;
}

#contents_placeholder {
  width: 256px;
  height: 149px;
  outline: 1px solid #000;
  outline-offset: -1px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

#contents_placeholder_diagonal1 {
  background: #000;
  width: 400%;
  height: 1px;
  position: absolute;
  top: 0;
  left: -200%;
  transform-origin: center;
  transform: rotate(30deg);
}

#contents_placeholder_diagonal2 {
  background: #000;
  width: 400%;
  height: 1px;
  position: absolute;
  top: 0;
  left: -100%;
  transform-origin: center;
  transform: rotate(-30deg);
}




/* LAYOUT */

section {
  background: #ffffff;
}

h5.role {
  color: #ffa0b0;
}

.row.fillHeight {
  align-items: center;
  min-height: 540px;
  max-height: 80vh;
}

.row.contents-summary {
  margin-top: 32px;
}

.row.project-summary {
  margin-top: 48px;
}

.row.project-feature {
  padding: 16px 0;
}

footer {
/*  background: #ffffff;*/
  border: none;
}




/* HOVER TO SHOW IMAGE */

.image-prompt {
  background: #dddddd;
  display: inline-block;
  cursor: default;
}

.image-prompt > img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80vw;
  max-width: 620px;
  height: auto;
  display: none;
  pointer-events: none;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  transform: translate(-50%, -50%);
}

.image-prompt:hover {
  background: #000000;
  color: #ffffff;
}

.image-prompt:hover img {
  display: block;
}




/* ANIMATED ICONS */

#feature-icon-container {
  margin: 32px auto 0;
  width: 176px;
  display: flex;
  justify-content: space-between;
}

#feature-icon-container > img {
  width: 45px;
  height: 45px;
}




/* PROJECTS */

#section_SubscriptionsIntro {
  background: #f8f8f8;
  padding: 64px 0;
}

#section_RedesigningCheckout #ConditionalCopy_img {
  margin-top: -48px;
}

#section_ReorganizingSubscription {
  background: #f8f8f8;
}

#OrganizingIntentions > .col-3-double {
/*  padding: 32px;*/
  background: #ffffff;
}

#section_AnimatedIcons {
  background: #f8f8f8;
}

#FeedCards {
  padding: 0; 
  margin-top: 10vh;
  background: #f8f8f8;
  overflow-y: hidden;
}

#image-container_feed-cards {
  padding: 0;
  min-height: 540px;
  overflow-y: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

#image_feed-cards {
  width: 405px;
  top: 0px;
  height: auto;
  position: absolute;
  
}

#section_WrappingUp {
  background: #f8f8f8;
}

#section_WrappingUp .row {
  margin-top: 48px;
  margin-bottom: 32px;
}